<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="nhibernateRepository" type="RyanPenfold.Repository.NHibernate.Configuration.MappingsConfigurationSection, RyanPenfold.Repository.NHibernate" />
  </configSections>

  <autofac>
    <components>
      <component instance-scope="single-instance" service="RyanPenfold.Repository.NHibernate.Configuration.IConfiguration, RyanPenfold.Repository.NHibernate" type="RyanPenfold.Repository.NHibernate.Configuration.Configuration, RyanPenfold.Repository.NHibernate" />
      <component instance-scope="single-instance" service="RyanPenfold.Repository.NHibernate.ISessionFactory, RyanPenfold.Repository.NHibernate" type="RyanPenfold.Repository.NHibernate.SessionFactory, RyanPenfold.Repository.NHibernate" />
    </components>
  </autofac>
  
  <connectionStrings>
    <add name="IntegrationTests" connectionString="Data Source=localhost;Initial Catalog=IntegrationTests;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <nhibernateRepository connectionStringName="IntegrationTests" persistenceConfiguration="MsSqlConfiguration.MsSql2008">
    <mappings>
      <add assembly="RyanPenfold.Repository.NHibernate.Tests.Integration" type="Fluent" />
      <add assembly="RyanPenfold.Repository.NHibernate.Tests.Integration" type="Hbm" />
    </mappings>
  </nhibernateRepository>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite.IO.MsSqlSpatial" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
